.btn {
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  background-color: #1877f2;
  border-radius: 1rem;
  color: white;
  text-transform: capitalize;
  font-size: 1.4rem;
  transition: all 0.3s;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: #fff;
  color: #333;
  border-color: #fff;
}
.btn a {
  text-decoration: none;
  color: inherit;
}
