.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  width: 35rem;
  margin: 0 auto;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #333;
  background-color: rgb(0, 238, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form input {
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.form input::placeholder {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 500;
}
.form textarea {
  height: 15rem;
  padding: 1rem;
}

/* .form button {
    align-self: flex-end;
  } */
