.subNav ul {
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  gap: 2rem;
  text-transform: capitalize;
  list-style: none;
}
.subNav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.subNav ul li a:hover,
.subNav ul li a.active {
  color: rgb(26, 44, 242);
}
